#contenidos{
	width:1000px;
	height: auto;
	margin: auto;
	position: relative;
}

body{
	background: PaleTurquoise;
	background-repeat: no-repeat;
	}

h1{
	font-family: 'Oswald', sans-serif;
	margin-left: 10px;
	font-size: 45px;
	text-align: left;
	color: Goldenrod;
}

h2{
	font-family: 'Lora', serif;
	margin-left: 10px;
	font-size: 24px;
	text-align: left;
	color: Blue;
}

h3{
	font: oblique bold 120% cursive;
	margin-left: 10px;
	font-size: 20px;
	text-align: center;
	color: Red;
}

header{
	width: 1000px;
	height: 120px;
}

nav{
	width: 1000px;
	height: 60px;
	background: red;
	border-radius: 10px;
}


figure{	
	margin-left: -60px;
	float: -10px;
	/*width: 1000px;
	height: 126px;*/
	}

img{
	margin-left: 60px;
	/*border-radius: 10px;*/
	}

ul{
	margin: 15px;
	padding-top:3px;
}


li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: ;
	margin: 3px;
	color: Royalblue;
}

p{
	width: 600px;
	height: 100px;
	margin-left: 10px;
	color: DimGray;
	font-weight: bolder;
	line-height: 24px;
	padding: 3px;
	text-align: justify;
}

section{
	margin-top: 120px;
	width: 600px;
	height: 300px;
	float: left;
}

aside{
	float: left;
	margin-left: 30px;
	margin-top: 120px;
	width: 340px;
	height: 220px;
	border-radius: 3px;
}

footer{
	width: 980px;
	height: 20px;
	float: left;
	margin-top: 200px;
	color: Beige;
	background: red;
	border-radius: 10px;
	padding: 10px;
}



label {
display:block;
margin-top:20px;
letter-spacing:1px;
}

.formulario {
display:block;
margin:0 auto;
width:350px;
color: #666666;
font-family:Arial;
}

form {
margin:0 auto;
width:320px;
}

input, textarea {
width:320px;
height:27px;
background:#666666;
border:2px solid #f6f6f6;
padding:10px;
margin-top:5px;
font-size:10px;
color:#ffffff;
}

textarea {
height:150px;
}

#submit {
width:85px;
height:35px;
border:none;
margin-top:20px;
cursor:pointer;
}


/*CLASES*/

.ancho_menu_home{width: 900px}
.ancho_menu_paginas{width: 970px}

.menu:link{padding: 32px; color: black; text-decoration: none;}
.menu:visited{padding: 15px; color: black; text-decoration: none;}
.menu:active{padding: 15px; color: black; text-decoration: none;}


