#contenidos{
	width:1000px;
	height: auto;
	margin: auto;
	position: relative;
}

body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	}

h1{
	font-family: 'Oswald', sans-serif;
	margin-left: 10px;
	font-size: 45px;
	text-align: left;
	color: Goldenrod;
}

h2{
	font-family: 'Lora', serif;
	margin-left: 10px;
	font-size: 20px;
	text-align: left;
	color: Beige;
}

h3{
	font: oblique bold 120% cursive;
	margin-left: 10px;
	font-size: 44px;
	text-align: center;
	color: Beige;
}

h4{
	font: oblique bold 120% cursive;
	margin-left: 10px;
	font-size: 40px;
	text-align: center;
	color: Yellow;
}

header{
	width: 1000px;
	height: 120px;
}

nav{
	width: 1000px;
	height: 50px;
	background: red;
	border-radius: 10px;
}


ul{
	margin: 15px;
	padding-top:3px;
}


li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: ;
	margin: 3px;
	color: Royalblue;
}


.button {
	background:#7f8c8d;
	color:#fff;
	display:inline-block;
	font-size:1.20em;
	margin:3px;
	padding:10px 0;
	text-align: center;
	width:120px;
	text-decoration:none;
	box-shadow:0px 3px 0px #373c3c;
}
 
.button span {
	margin-right:10px;
}
 
/*Colores*/
.button.blue {
	background:#3498db;
	box-shadow:0px 3px 0px #266792;
}
 
.button.yellow {
	background:#e67e22;
	box-shadow:0px 3px 0px #b55704;
}
 
 
/*Tamaños*/
.button.medium {
	width:250px;
}
 
 
.button.radius {
	border-radius:50px;
}
 
/*Efectos, Hover*/
.button:hover {
	box-shadow:0px 0px 0px;
	padding-top:3px;
}



b{
	font: Arial;
	color: Goldenrod;
}

section{
	background: ;
	width: 600px;
	height: 500px;
	float: left;
}

aside{
	float: left;
	margin-left: 30px;
	margin-top: 3px;
	width: 340px;
	height: 220px;
	border-radius: 3px;
}

footer{
	width: 1000px;
	height: 20px;
	float: left;
	margin-top: 80px;
	color: Beige;
	background: red;
	border-radius: 10px;
	padding: 10px;
}


img{border-radius: 10px;}

p{
	width: 1000px;
	height: 100px;
	border-radius: 10px;
	color: Beige;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
}

/*CLASES*/

.ancho_menu_home{width: 900px}
.ancho_menu_paginas{width: 970px}

.menu:link{padding: 32px; color: black; text-decoration: none;}
.menu:visited{padding: 15px; color: black; text-decoration: none;}
.menu:active{padding: 15px; color: black; text-decoration: none;}


